//Mixins
@mixin corAnimação() {
  animation: onda 2.6s infinite;
  @keyframes onda {
    0%,
    100% {
    }
    60% {
      color: #000000;
    }
  }
}
@mixin hoverStyleColor($cor, $tempo) {
  transition: $tempo;
  cursor: pointer;
  &:hover {
    color: $cor;
  }
}
//////////////////////////////////////
.header {
  width: 75%;
  .nav {
    background-color: #332e2e;
    outline: 0.2rem solid #000000;
    border-right: 0.4rem solid rgb(255, 255, 255);
    border-top: 0.4rem solid rgb(255, 255, 255);
    border-bottom: 0.4rem solid rgb(255, 255, 255);
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    .code {
      color: #ffffff;
      font-size: 3rem;
    }
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
  .tilt-card {
    background-color: rgba(17, 25, 40, 0.41);
    width: 550px;
    height: 828px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1.5rem;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    border: 0.6rem solid rgba(255, 255, 255, 0.125);
    border-image: linear-gradient(
        90deg,
        rgba(74, 72, 72, 1) 0%,
        rgba(175, 170, 170, 1) 34%,
        rgba(244, 242, 242, 1) 57%,
        rgba(189, 183, 183, 1) 87%,
        rgba(69, 67, 67, 1) 100%
      )
      1;
    .name-card {
      font-size: 2.4rem;
      text-align: center;
      background-color: #332e2e;
      border-bottom: 0.4rem solid rgb(rgb(0, 0, 0), 1);
      border-top: 0.2rem solid rgb(rgb(255, 255, 255), 1);
      border-left: 0.2rem solid rgb(rgb(255, 255, 255), 1);
      border-right: 0.4rem solid rgb(rgb(0, 0, 0), 1);
      span {
        position: relative;
        &::before {
          animation: animação-texto 50s infinite;
          content: " ";
          color: rgb(255, 255, 255);
        }
        &::after {
          animation: animação-cursor 2s infinite,
            animação-digitação 25s steps(15) infinite;
          content: "";
          height: 100%;
          width: calc(100% + 12px);
          background-color: #332e2e;
          position: absolute;
          right: -10px;
          border-left: 2px #ffffff solid;
        }
      }
      @keyframes animação-digitação {
        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95% {
          width: 0;
        }
        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85% {
          width: calc(100% + 12px);
        }
      }
      @keyframes animação-cursor {
        0% {
          border-left: 2px #332e2e solid;
        }
      }
      @keyframes animação-texto {
        0%,
        50% {
          content: "Guilherme Luis";
        }
        51%,
        100% {
          content: "Desenvolvedor web";
        }
      }
    }
    .tecnologias {
      align-self: flex-end;
      ul {
        display: flex;
        align-items: center;
        position: relative;
        gap: 0.4rem;
        padding: 0.2rem;
        .tec-icons {
          font-size: 2.2rem;
          cursor: pointer;
        }

        .icon-html {
          @include corAnimação();
          animation-delay: 0.1s;
          color: #f16524;
        }
        .icon-css {
          @include corAnimação();
          animation-delay: 0.2s;
          color: #238aed;
        }
        .icon-JS {
          @include corAnimação();
          animation-delay: 0.3s;
          color: #fdff00;
        }
        .icon-type {
          @include corAnimação();
          animation-delay: 0.4s;
          font-size: 1.8rem;
          color: #0000ff;
        }
        .icon-boot {
          @include corAnimação();
          animation-delay: 0.5s;
          font-size: 2.5rem;
          color: #8a12fd;
        }
        .icon-github {
          @include corAnimação();
          animation-delay: 0.6s;
          color: #ffffff;
        }
        .icon-git {
          @include corAnimação();
          animation-delay: 0.7s;
          color: #f44d27;
        }
        .icon-react {
          @include corAnimação();
          animation-delay: 0.8s;
          color: #61dbfb;
        }
      }
    }
    .img-card {
      height: 50%;
      padding: 0rem 2rem 1rem 2rem;
      img {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: top;
        border-bottom: 0.5rem solid rgb(rgb(0, 0, 0), 1);
        border-top: 0.5rem solid rgb(rgb(147, 144, 144), 1);
        border-left: 0.5rem solid rgb(rgb(147, 144, 144), 1);
        border-right: 0.5rem solid rgb(rgb(0, 0, 0), 1);
      }
    }
    .card-info {
      background: #878686;
      overflow: auto;
      height: 190px;
      padding: 0.5rem;
      border: 0.2rem solid black;
      strong {
        font-size: 1.1rem;
      }
      .info {
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: start;
        text-wrap: balance;
        word-wrap: break-word;
      }
    }
    .contato {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8rem;
        padding: 0.2rem;
        a {
          color: #d6d5d5c8;
        }

        .whatsap {
          @include hoverStyleColor(#45c054, 0.5s);
        }
        .gmail {
          @include hoverStyleColor(#c71610, 0.5s);
        }
        .github {
          @include hoverStyleColor(white, 0.5s);
        }
        .linkedin {
          @include hoverStyleColor(#0299ea, 0.5s);
        }
        .CV {
          @include hoverStyleColor(white, 0.5s);
        }
      }
    }
  }
  .projetos {
    background-color: #332e2ee6;
    overflow: auto;
    width: 60%;
    height: 828px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }
}
//media
@media screen and (max-width: 2560px) {
  .main {
    .tilt-card {
      width: 700px;
      height: 1000px;
      padding-bottom: 0.2rem;
      .name-card {
        font-size: 3rem;
      }
      .tecnologias {
        ul {
          .tec-icons {
            font-size: 3rem;
          }
          .icon-type {
            font-size: 2.6rem;
          }
          .icon-boot {
            font-size: 3.9rem;
          }
        }
      }
      .card-info {
        height: 300px;
        strong {
          font-size: 1.5rem;
        }
        .info {
          font-size: 1.2rem;
        }
      }
      .contato {
        ul {
          font-size: 2.5rem;
        }
      }
    }
    .projetos {
      height: 1000px;
    }
  }
}
@media screen and (max-width: 1900px) {
  .main {
    .tilt-card {
      width: 550px;
      height: 800px;
      .name-card {
        font-size: 2.3rem;
      }
      .tecnologias {
        ul {
          .tec-icons {
            font-size: 2rem;
          }
          .icon-type {
            font-size: 1.6rem;
          }
          .icon-boot {
            font-size: 2.4rem;
          }
        }
      }
      .card-info {
        strong {
          font-size: 1.3rem;
        }
        .info {
          font-size: 1rem;
        }
      }
      .contato {
        ul {
          font-size: 2rem;
        }
      }
    }
    .projetos {
      height: 950px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .main {
    .tilt-card {
      width: 450px;
      height: 650px;
      .name-card {
        font-size: 1.7rem;
      }
      .tecnologias {
        ul {
          .tec-icons {
            font-size: 1.9rem;
          }
          .icon-type {
            font-size: 1.6rem;
          }
          .icon-boot {
            font-size: 2.2rem;
          }
        }
      }
      .card-info {
        strong {
          font-size: 1rem;
        }
        .info {
          font-size: 0.8rem;
        }
      }
      .contato {
        ul {
          font-size: 1.5rem;
        }
      }
    }
    .projetos {
      height: 670px;
    }
  }
}
@media screen and (max-width: 1125px) {
  .header {
    .nav {
      .code {
        font-size: 2.3rem;
      }
    }
  }
  .main {
    .tilt-card {
      width: 400px;
      height: 600px;
      .name-card {
        font-size: 1.6rem;
      }
      .tecnologias {
        ul {
          .tec-icons {
            font-size: 1.7rem;
          }
          .icon-type {
            font-size: 1.4rem;
          }
          .icon-boot {
            font-size: 2rem;
          }
        }
      }
      .card-info {
        strong {
          font-size: 1.2rem;
        }
        .info {
          font-size: 0.9rem;
        }
      }
      .contato {
        ul {
          font-size: 1.5rem;
        }
      }
    }
    .projetos {
      height: 670px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .main {
    padding: 0.2rem;
    gap: 3rem;
    .tilt-card {
      width: 100%;
      height: 500px;
      display: grid;
      grid-template-columns: 1fr 2fr 2fr;
      grid-template-areas:
        "nome info info"
        "tec info info"
        "img info info"
        "contato contato contato";
      .name-card {
        width: 100%;
        height: 100%;
        grid-area: nome;
        font-size: 1.6rem;
      }
      .tecnologias {
        grid-area: tec;
        align-self: center;
        justify-self: center;
        ul {
          .tec-icons {
            font-size: 1.7rem;
          }
          .icon-type {
            font-size: 1.4rem;
          }
          .icon-boot {
            font-size: 2rem;
          }
        }
      }
      .img-card {
        width: 100%;
        height: 100%;
        grid-area: img;
        padding-bottom: 0;
      }
      .card-info {
        height: 100%;
        grid-area: info;
        strong {
          font-size: 1.2rem;
        }
        .info {
          font-size: 0.9rem;
        }
      }
      .contato {
        grid-area: contato;
        align-self: center;
      }
    }
    .projetos {
      width: 100%;
      height: 670px;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .main {
    .tilt-card {
      grid-template-rows: 0.3fr 0.3fr 3fr 0.5fr;
    }
  }
}
@media screen and (max-width: 550px) {
  .main {
    .tilt-card {
      grid-template-columns: 40% 60%;
      grid-template-rows: 0.3fr 0.3fr 3fr 0.1fr;
      padding: 0.5rem;
      .name-card {
        width: 110%;
        font-size: 1rem;
      }
      .tecnologias {
        ul {
          gap: 0.1rem;
          .tec-icons {
            font-size: 1rem;
          }
          .icon-type {
            font-size: 0.9rem;
          }
          .icon-boot {
            font-size: 1.3rem;
          }
        }
      }
      .card-info {
        width: 90%;
        justify-self: center;
        strong {
          font-size: 1rem;
        }
        .info {
          font-size: 0.8rem;
        }
      }
      .img-card {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .main {
    .tilt-card {
      padding: 0.1rem;
      .name-card {
        font-size: 0.8rem;
      }
      .tecnologias {
        ul {
          gap: 0.1rem;
          .tec-icons {
            font-size: 0.8rem;
          }
          .icon-type {
            font-size: 0.8rem;
          }
          .icon-boot {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
