* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Unbounded", sans-serif;
  list-style: none;
  &::-webkit-scrollbar {
    height: 6px;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: #f2fdff;
  }
  &::-webkit-scrollbar-track:active {
    background-color: #b2b9bb;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #666666;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #332e2e;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #332e2e;
  }
}
body {
  background-image: url("/imgs/bombRush-backGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
